.well
  .row
    .col-md-1
      = reply.user.decorate.display_avatar(35,35)
    .col-md-8
      %h5
        = reply.fullname
    .col-md-3
      .text_lightgrey.float_right
        = reply.time_since_posted
  %p
    = reply.comment