Hello <%= @user.firstname %>,</h1>

After some people found your content inappropriate your account has been blocked to prevent similar actions.

For further information you can email at team12Genesys@gmail.com.
