<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.firstname %>,</h1>
    <p>
      After some people found your content inappropriate your account has been
      blocked to prevent similar actions.
    </p>
    <p>
      For further information you can email at team12Genesys@gmail.com.
    </p>
  </body>
</html>