- content_for :title, 'Home Page'

.row
  .col-sm-2.hidden-xs
  .col-sm-8.col-xs-12
    %h2
      = @user.display_avatar(100,100)
      Hi, #{ @user.firstname }

.row
  .col-sm-2
  .col-sm-8
    %h3 Your Posts
    = render @posts
