- content_for :title, 'Home'

.row
  .col-sm-1
  .col-sm-10
    %h1
      Trending Today

.row
  .col-sm-1
  .col-sm-8
    %br
    #posts_array
      - if @most_voted_posts.blank?
        = no_record_tr(5)
      - else
        = render @most_voted_posts
